<!DOCTYPE html>
<html>
<head>
  <title>CookieAlert</title>
  <%= stylesheet_link_tag    "cookie-alert/application", :media => "all" %>
  <%= javascript_include_tag "cookie-alert/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
