<div id='cookie_alert'class='secondary-alert'>
  <div id='cookie_alert_message'>
    <div id='cookie_alert_title'>
      Cookies:
    </div>
    <div id='cookie_alert_text' style="display: none;">
      We use cookies to give you the best possible experience on our website. 
      By using our website you consent to our use of cookies, some of which may have already been set on your device. 
      View our Cookie Policy to learn more or  <%= link_to "hide this banner", cookie_alert_path, remote: true %> 
    </div>
  </div>
</div>
